In [1]:
import pandas as pd

In [3]:
solarDataRaw = pd.read_csv("solar.csv", parse_dates=['datetime'])

In [5]:
dateDF = pd.DataFrame([(str(dt.date()), str(dt.time())) for dt in solarDataRaw['datetime']], columns=["date","time"])
solarDataWithDateDF = pd.concat([dateDF, solarDataRaw], axis=1)[['date', 'time', 'solar.current', 'solar.total']]
solarDataWithDateDF.head()

         date      time  solar.current  solar.total
0  2013-12-01  07:00:00       6.300000         1.69
1  2013-12-01  07:30:00      44.299999        11.36
2  2013-12-01  08:00:00     208.000000        67.50
3  2013-12-01  08:30:00     482.000000       250.50
4  2013-12-01  09:00:00     774.000000       573.50